@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inter;

}

.header{
  background-color: #002244;
  color: white;
  margin-bottom: 2%;
  display: flex;
  align-items: center;
  padding: 2rem;
  position: relative;
}

.registro-container {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  width: 23%;
  height: 48rem;
  border-radius: 8px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.795);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #002244;
}

.registro-container form{
  background-color: white;
  border-radius:  100px 0px 0px 0px;
  height: 35rem;
}


h2 {
  margin-bottom: 30px;
  color: white;
}

.form-group {
  margin-bottom: 20px;

}


.registro-container form label{
  display: flex;
  flex-direction: column;
  text-align: start;
  width: 70%;
  margin: 10% auto 0 auto;
}

.registro-container form label input{
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid gray;
  outline: none;
  margin-top: 3%;
  padding: .2rem;
  font-size: larger;
}

.password-input{
  display: flex;
  align-items: center;
}


.logo{
  width: 40%;
}

.loginButton, .registerButton{
  padding: .4rem;
  width: 60%;
  font-size: larger;
  background-color: #002244;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 6px;
}

.registerButton{
  margin-top: 5%;
}

.registerLink, .loginLink{
  margin-top: 12%;
}

.registerLink a, .loginLink a{
  color: #002244;
  font-weight: 800;
  text-decoration: none;
}

.map{
  display: flex;
  justify-content: center;
}

.formCordinatesContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formCordinatesContainer form{
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  background-color: #C0C0C0;
  border-radius: 0 0 8px 8px;
  overflow: hidden;
  transition: all .8s;
}

.formCordinatesContainer .form{
  height: auto!important;
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  background-color: #C0C0C0;
  border-radius: 0 0 8px 8px;
  overflow: hidden;
  transition: all .8s;
}

.formCordinatesContainer .separeted_input_cordinates{
  width: 80%;
}

.formCordinatesContainer form label{
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  width: 80%;
}

.formCordinatesContainer form label input{
  outline: none;
  border-radius: 6px;
  padding: .5rem;
  border: gray solid;
}

.headerForm{
  position: relative;
  background-color: #002244;
  color: white;
  width: 50%;
  padding: 1.2rem;
  border-radius: 8px 8px 0 0;
  display: flex;
  justify-content: space-between;
}

.headerForm .arrowDown{
  cursor: pointer;
  position: absolute;
  right: 5%;
}

.headerForm:hover .arrowDown{
  animation-name: moveArrow;
  animation-duration: 2s;
  animation-fill-mode:forwards;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.leaflet-draw .leaflet-draw-section a[title="Clear all layers"]{
  display: none;
}

.trash{
  position: absolute;
  right: 10%;
}

@media only screen and (max-width:1440px){
  .registro-container{
    width: 36%;
  }
  .registro-container form{
    height: 43rem;
  }
}

@keyframes moveArrow{
  0%{
    transform: translateY(0);
  }

  50%{
    transform: translateY(5px);
  }

  100%{
    transform: translateY(-5px);
  }
}